{% extends 'base.html.twig' %}

{% block title %}Qui somme nous?{% endblock %}
{% block content %}
    <br/>
    <h2> Qui somme-nous?</h2><br/>
    <img src="{{ asset('assets/img/p1.png') }}"  class="mx-auto d-block" alt="p1">
    <h3> En savoir plus sur Healthy Nutrition- La boutique du diabète </h3>
    <p> Ce site, conçu pour répondre aux besoins des personnes diabétiques, propose une large gamme de produits sans sucre sélectionnés avec rigueur afin de faciliter et d’adoucir le quotidien des personnes diabétiques et toute personne soucieuse de prévenir les excès de poids.

En parcourant la boutique en ligne de Healthy Nutrition, vous trouverez de nombreux produits alimentaires sans sucre, qui s’adaptent parfaitement à un régime imposé à une personne diabétique ou autres, mais aussi du matériel et des produits de sécurité indispensables au quotidien, et des produits de confort qui vous aideront à mieux gérer votre maladie au quotidien.

Et pour compléter ces gammes, Healthy Nutrition a également choisi de vous proposer un espace librairie, dans lequel vous trouverez des livres de recettes adaptées au diabète, des témoignages, ainsi que des livres pour enfants afin de faire comprendre de façon ludique les implications d’un diabète.</p>
<h3>Healthy Nutrition vous propose des avantages exclusifs</h3>
<p>Notre site de vente en ligne Healthy Nutrition évolue constamment afin de répondre au mieux aux attentes de nos clients et un système de points de fidélité a été mis en place. Ces points sont cumulables à chaque commande passée sur le site. Ils seront ensuite utilisables sans minimum d’achat lors de toutes vos commandes sur la boutique du diabète.

Plus récemment, chaque nouveau client dispose de la remise « nouveaux clients ». Une remise de 10 % est appliquée sur votre première commande passée sur le site de Diabetys. <p>
<h3>Vos livraisons à domicile ou espaces relais et le paiement sécurisé de vos commandes </h3>
<p> Healthy Nutrition vous propose une livraison sous 48h à 72 heures après le départ de votre colis depuis nos entrepôts. Vous disposez également du numéro de suivi afin de connaître la date de livraison chez vous, ou à l’adresse que vous aurez indiqué lors de votre commande.

De plus, Healthy Nutrition a choisi la solution de sécurisation des paiements en ligne proposée par la banque Crédit Industriel et Commercial (CIC), vous assurant ainsi que vos données bancaires sont en sécurité à tout moment lors du règlement de votre commande. Vous disposez également de la possibilité de régler toutes vos commandes par chèque si vous le désirez.</p>
{% endblock %}